# API Server configuration
PORT=4000
NODE_ENV=development
CORS_ORIGIN=*

# PostgreSQL Database Connection URL (used by Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/programming_mastery?schema=public"
